<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <%- include("./scripts.ejs") %>
    <title>My App</title>
  </head>
  <body>
    <%- include("./navbar.ejs") %>
    <div class="body_container md:mt-24 mt-20 pb-10">
      <a
        href="/post"
        title="Create post"
        class="fixed bottom-5 right-5 bg-gray-600 text-white rounded-full p-3 px-5 font-bold text-2xl"
      >
        &plus;</a
      >