
<%- include("./buttonFunc.ejs")  %> 

<% const navItems = [ { name:"Home", link:"/" }, { name:"Categories",
link:"/posts/categories" }] %>

<div class="relative flex items-center gap-5 navbar bg-gray-900 text-xs shadow-lg h-16" id="myTopnav">
  <a href="/" class="text-white absolute left-10 text-xl capitalize font-semibold">We-blog</a>
  <% navItems.forEach(navlink => { %>
  <a
    class="
    <%if (typeof navLinkFromServer !== "undefined") {%>
      <%= navLinkFromServer ===navlink.link && 'active underline-offset-[10px]'%>"
      <%} %>
    href="<%=navlink.link%> "
  >
    <%=navlink.name %>
  </a>
   <% }) %>
    <a id="login_btn" href="/auth/login" class="hidden justify-center text-center text-sm h-auto bg-gray-600 hover:bg-gray-500 duration-300 absolute right-5">
      <p>Login</p>
      </a>

      <span id="logout_btn" class="hidden justify-center text-center text-sm h-auto bg-red-500 hover:bg-red-700 cursor-pointer duration-300 absolute right-5 px-4 py-2 text-white rounded">
        <p class="flex items-center gap-4">Log out <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
        </svg>
        </p>
      </span>

  <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
    <i class="fa fa-bars">=</i>
  </a>
</div>
